includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource
    paths:
        - app
        - config
        - database
        - routes
        - tests
    level: 2
    ignoreErrors:
    excludePaths:
        - database/migrations
